body {
	background-color: black;
}

.foto{
    border-color: #142F46;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 20px;
}

.foto img{
	border-radius: 3px;
}

.cabecera{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #171717;
    border-bottom-color: #142F46;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}


/* Correcciones Bootstrap */
.btn-primary a{
	color: #fff;
}
.btn{
    white-space: inherit;
}
.panel {
    border-color: #142F46;
    background-color: rgba(255,255,255,0.1);
}