body {
	background-color: black;
}

.foto img{
	border-radius: 4px;
}

.cabecera{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #171717;
}


/* Correcciones Bootstrap */
.btn-primary a{
	color: #fff;
}
.btn{
    white-space: inherit;
}
.panel {
    border-color: transparent;
    background-color: rgba(255,255,255,0.1);
}